.custom-icon2 {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}
.custom-icon2:hover {
  background-color: #1ebba3;
}

.print {
  cursor: pointer;
}
.btn-detail {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}
button.btn-detail:hover {
  font-size: medium;
  color: chocolate;
}

.quote-container {

  align-items: center;
}
.quote-container img {
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
  border-radius: 50%;
  margin-left: 10px; /* Space between text and image */
  border: solid;
  border-color: antiquewhite;
}

.custom-icon22 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.custom-icon22:hover {
  background-color: #1ebba3;
}


/*mail notification*/
.error {
  color: red;
  font-size: 0.875em;
}
.inputError {
  border-color: red;
}
.success {
  color: green;
  font-size: 1em;
  border-color: aquamarine;
  font-weight: 500;
  border-radius: 5px;
  background-color: aliceblue;
}
.loading-indicator {
  font-size: 16px;
  margin-left: 10px;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  animation: move 1s infinite;
  display: inline-block;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}


